name: ESLint

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  # schedule: (disabled for now)
  #   - cron: "41 20 * * 3"

jobs:
  eslint:
    name: Run eslint scanning
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
      actions: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies (locked)
        run: bun install --frozen-lockfile

      - name: Run ESLint
        run: bunx eslint .
